# C++ object files
*.o
*.obj

# C++ precompiled headers
*.gch
*.pch

# C++ static libraries
*.a

# C++ dynamic libraries
*.so
*.dll
*.dylib

# Executable files
*.out
*.exe
*.app

# Debugging files
*.log
*.dSYM/

# Temporary files
*.tmp
*.swp
*.swo

test.cpp

